/* login.css */
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background-image: url(bg1.jpg);
}
.container {
    background-color: rgba(255, 255, 255, 0.76);;
    width: 300px;
    height: 360px;
    margin: 30px auto; /* Center the container horizontally */
    padding: 25px; /* Set the padding for input fields and select boxes */
    border-radius: 5px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
    border: 2px solid #f0f4f5f1;
    display: flex; /* Use flexbox */
    flex-direction: column; /* Align children vertically */
    align-items: center; /* Center children horizontally */
    justify-content: center; /* Center children vertically */
    color: #000000;
  }
.form-group {
    margin-bottom: 20px;
  }
input[type="text"],
input[type="password"],
input[type="email"] {
  width: 100%;
  padding: 5px; /* Set padding to the desired value */
  border: 1px solid #000000;
  border-radius: 3px;
  margin-top: 3px;;
  box-sizing: border-box; /* Ensure padding is included in the width */
  margin: auto;
}
button[type="submit"] {
    background-color: #105d81;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* Add margin-top to create space between the button and other elements */
    margin-top: 20px;
    margin-left: 80px;
    cursor: pointer;
    
}
.back-link, .forward-link {
  text-decoration: none;
  color: #000000;
  font-size: 18px;
  margin-right: 10px;
  display: inline-block;
}
.navbar {
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
  width: 98%;
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  padding: 10px 20px;
  box-sizing: border-box;
  margin: 10px;
  border: none;
  border-radius: 10cm;
}
.shifu
{
  align-content:center;
  color:white;
  font-style:italic;
  margin-top: 5%;
}
.page-title {
  margin-left: 10px;
  margin: 10;
  font-size: 20px;
  text-decoration: none;
  color:#000000;
}
.page-title:hover{
  color: orange;
  text-decoration: underline;
}
button[type="submit"] a{
text-decoration: none;
color: white;
}

button[type="submit"]:hover {
    background-color: #29722d;
}
button.tologin{
    margin-left: 100px;
}
  .options a {
    margin-top: 10px;
    color: #3672b3;
    text-decoration: none;
  }
  
  .options a:hover {
    text-decoration: underline;
    color:#29722d
  }

hr{
    width: 98%;
    color:#333;
}